* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", Georgia, Times, serif;
    color: black;
    background: #a2dcf2;
    background: linear-gradient(90deg, rgba(162, 220, 242, 1) 0%, rgba(255, 255, 255, 1) 80%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.left_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 33.4%;
    margin-left: 100px;
}

.right_box {
    width: 66.6%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

a:link {
    color: white;
}

.menu_link {
    color:white;
    text-decoration: none;
    font-size: 54px;
    font-weight: bold;
    opacity: 70%;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all .3s ease-in-out;
}

.menu_link:hover {
    transform: scale(1.05);
    opacity: 100%;
}

#time {
    background-color: #99d9f9;
    border-radius: 10px;
    font-size: 240px;
    color: white;
    font-family: "Seven Segment", "Outfit";
    margin: 0px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

#date, #weekday {
    margin: 0px;
    font-size: 54px;
    color: #99d9f9;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
}